@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 26 26 26;
    --foreground: 224 224 224;
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
